:root {
    --background-color: #1f2935;
    --primary-color: #455363;
    --text-color: #fff;
}

h3 {
    color :green;
}

.date-time {
    font-size: 12px;
    color: var(--text-color);
}

.data-number {
    color: #fff;
    font-size: 32px;
}

.page-title {
    color: var(--text-color);
}

.fatality-text {
    color:  #ff0000;
}