.data-number {
    color: #fff;
    font-size: 32px;
}

.date-time {
    font-size: 12px;
    color: var(--text-color);
}

.page-title {
    color: var(--text-color);
}

:root {
    --background-color: #1f2935;
    --text-color: #fff;
    --primary-color: #455363;
}

h3 {
    color : green;
}

