.move-header {
  padding-top: 24px;
}

.dip-before {
  color: #019266;
  font-size: 16px;
}

.volume {
  font-size: 16px;
  font-weight: 500;
}

.bottom-border {
  border-bottom: 1px solid #B9b9b9
}

.dip-after {
  color: #0386BF;
  font-size: 16px;
}

.date {
  font-size: 14px;
}

.delivered {
  font-size: 12px;
  font-weight: 400;
}

.delivered-volume {

  font-size: 22px;
  font-weight: 500;
}